<a href="https://colab.research.google.com/github/Kamalsharma209/Pandas-Practice/blob/main/Join%2CMerge%2Cconcatenate_and_grouping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Pandas Tutorial : Join , Merge and Grouping/Aggregation**

In [1]:
import pandas as pd

**Join Example : left,right,inner and outer joins**

In [ ]:
df1 =pd.DataFrame({
    'Name' : ['Alice','Bob','Charlie'],
    'Age' : [25,10,20]
} , index = ['A','B','C'])

df2 = pd.DataFrame({
    'City': ['NewYork','Los Angeles']
} , index=['A','B'])

result = df1.join(df2, how='left')
print("Left join result: ")
print(result)

Left join result:
      Name  Age         City
A    Alice   25      NewYork
B      Bob   10  Los Angeles
C  Charlie   20          NaN

In [ ]:
df1 =pd.DataFrame({
    'Name' : ['Alice','Bob','Charlie'],
    'Age' : [25,10,20]
} , index = ['A','B','C'])

df2 = pd.DataFrame({
    'City': ['NewYork','Los Angeles']
} , index=['A','B'])

result = df1.join(df2, how='right')
print("right join result: ")
print(result)

right join result:
    Name  Age         City
A  Alice   25      NewYork
B    Bob   10  Los Angeles

In [ ]:
df1 =pd.DataFrame({
    'Name' : ['Alice','Bob','Charlie'],
    'Age' : [25,10,20]
} , index = ['A','B','C'])

df2 = pd.DataFrame({
    'City': ['NewYork','Los Angeles']
} , index=['A','B'])

result = df1.join(df2, how='inner')
print("inner join result: ")
print(result)

inner join result:
    Name  Age         City
A  Alice   25      NewYork
B    Bob   10  Los Angeles

In [ ]:
df1 = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35]
}, index=['A', 'B', 'D'])

df2 = pd.DataFrame({
    'City': ['New York', 'Los Angeles', 'Chicago']
}, index=['A', 'B', 'C'])

# Perform an outer join
result = df1.join(df2, how='outer')

print("Outer Join Result:")
print(result)

Outer Join Result:
      Name   Age         City
A    Alice  25.0     New York
B      Bob  30.0  Los Angeles
C      NaN   NaN      Chicago
D  Charlie  35.0          NaN

In [ ]:
df1 = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35]
}, index=['A', 'B', 'D'])

df2 = pd.DataFrame({
    'City': ['New York', 'Los Angeles', 'Chicago']
}, index=['A', 'B', 'C'])

# Perform an outer join
result = df1.join(df2, how='cross')

print("Outer Join Result:")
print(result)

Outer Join Result:
      Name  Age         City
0    Alice   25     New York
1    Alice   25  Los Angeles
2    Alice   25      Chicago
3      Bob   30     New York
4      Bob   30  Los Angeles
5      Bob   30      Chicago
6  Charlie   35     New York
7  Charlie   35  Los Angeles
8  Charlie   35      Chicago

**Merge Examples: **

In [2]:
df1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie']
})

df2 = pd.DataFrame({
    'ID': [1, 2, 4],
    'City': ['New York', 'Los Angeles', 'Chicago']
})

# Perform an inner merge on 'ID'
result = pd.merge(df1, df2, on='ID', how='inner')

print("Inner Merge Result:")
print(result)

Inner Merge Result:
   ID   Name         City
0   1  Alice     New York
1   2    Bob  Los Angeles

In [3]:
df1 = pd.DataFrame({
    'StudentID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie']
})

df2 = pd.DataFrame({
    'ID': [1, 2, 4],
    'City': ['New York', 'Los Angeles', 'Chicago']
})

# Perform a left merge
result = pd.merge(df1, df2, left_on='StudentID', right_on='ID', how='left')

print("Left Merge with Different Column Names:")
print(result)

Left Merge with Different Column Names:
   StudentID     Name   ID         City
0          1    Alice  1.0     New York
1          2      Bob  2.0  Los Angeles
2          3  Charlie  NaN          NaN

In [4]:
df1 = pd.DataFrame({
    'StudentID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie']
})

df2 = pd.DataFrame({
    'ID': [1, 2, 4],
    'City': ['New York', 'Los Angeles', 'Chicago']
})

# Perform a left merge
result = pd.merge(df1, df2, left_on='StudentID', right_on='ID', how='right')

print("Left Merge with Different Column Names:")
print(result)

Left Merge with Different Column Names:
   StudentID   Name  ID         City
0        1.0  Alice   1     New York
1        2.0    Bob   2  Los Angeles
2        NaN    NaN   4      Chicago

In [5]:
df1 = pd.DataFrame({
    'StudentID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie']
})

df2 = pd.DataFrame({
    'ID': [1, 2, 4],
    'City': ['New York', 'Los Angeles', 'Chicago']
})

# Perform a left merge
result = pd.merge(df1, df2, left_on='StudentID', right_on='ID', how='outer')

print("Left Merge with Different Column Names:")
print(result)

Left Merge with Different Column Names:
   StudentID     Name   ID         City
0        1.0    Alice  1.0     New York
1        2.0      Bob  2.0  Los Angeles
2        3.0  Charlie  NaN          NaN
3        NaN      NaN  4.0      Chicago

In [8]:
df1 = pd.DataFrame({
    'StudentID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie']
})

df2 = pd.DataFrame({
    'ID': [1, 2, 4],
    'City': ['New York', 'Los Angeles', 'Chicago']
})

# Perform a cross merge
result = pd.merge(df1, df2, how='cross')

print("Cross Merge Result:")
print(result)

Cross Merge Result:
   StudentID     Name  ID         City
0          1    Alice   1     New York
1          1    Alice   2  Los Angeles
2          1    Alice   4      Chicago
3          2      Bob   1     New York
4          2      Bob   2  Los Angeles
5          2      Bob   4      Chicago
6          3  Charlie   1     New York
7          3  Charlie   2  Los Angeles
8          3  Charlie   4      Chicago