<a href="https://colab.research.google.com/github/Kamalsharma209/Pandas-Practice/blob/main/Join%2CMerge%2Cconcatenate_and_grouping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Pandas Tutorial : Join , Merge and Grouping/Aggregation**

In [ ]:
import pandas as pd

**Join Example : left,right,inner and outer joins**

In [ ]:
df1 =pd.DataFrame({
    'Name' : ['Alice','Bob','Charlie'],
    'Age' : [25,10,20]
} , index = ['A','B','C'])

df2 = pd.DataFrame({
    'City': ['NewYork','Los Angeles']
} , index=['A','B'])

result = df1.join(df2, how='left')
print("Left join result: ")
print(result)

Left join result:
      Name  Age         City
A    Alice   25      NewYork
B      Bob   10  Los Angeles
C  Charlie   20          NaN

In [ ]:
df1 =pd.DataFrame({
    'Name' : ['Alice','Bob','Charlie'],
    'Age' : [25,10,20]
} , index = ['A','B','C'])

df2 = pd.DataFrame({
    'City': ['NewYork','Los Angeles']
} , index=['A','B'])

result = df1.join(df2, how='right')
print("right join result: ")
print(result)

right join result:
    Name  Age         City
A  Alice   25      NewYork
B    Bob   10  Los Angeles

In [ ]:
df1 =pd.DataFrame({
    'Name' : ['Alice','Bob','Charlie'],
    'Age' : [25,10,20]
} , index = ['A','B','C'])

df2 = pd.DataFrame({
    'City': ['NewYork','Los Angeles']
} , index=['A','B'])

result = df1.join(df2, how='inner')
print("inner join result: ")
print(result)

inner join result:
    Name  Age         City
A  Alice   25      NewYork
B    Bob   10  Los Angeles

In [9]:
df1 = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35]
}, index=['A', 'B', 'D'])

df2 = pd.DataFrame({
    'City': ['New York', 'Los Angeles', 'Chicago']
}, index=['A', 'B', 'C'])

# Perform an outer join
result = df1.join(df2, how='outer')

print("Outer Join Result:")
print(result)

Outer Join Result:
      Name   Age         City
A    Alice  25.0     New York
B      Bob  30.0  Los Angeles
C      NaN   NaN      Chicago
D  Charlie  35.0          NaN