<a href="https://colab.research.google.com/github/Kamalsharma209/Pandas-Practice/blob/main/Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Series**

**1. Creation**

In [ ]:
import pandas as pd
import numpy as np

data = [1, 2, 3, 4]
index = ["rohan", "mohit", "sonu", "tapu"]
l = pd.Series(data, index=index)
print(l)

rohan    1
mohit    2
sonu     3
tapu     4
dtype: int64

**2. Series from Numpy Array**

In [ ]:
import numpy as np
import pandas as pd

data = np.array([1, 2, 3, 4])
s = pd.Series(data,index=["op","opp","mk","kl"])
print(s)

op     1
opp    2
mk     3
kl     4
dtype: int64

**3. Series from Directonary**

In [ ]:
import pandas as pd
dict = {'Rohan':99, 'Bhavana':67, 'chetan':78 , 'Divya':90}
d = pd.Series(dict)
print(d)

Rohan      99
Bhavana    67
chetan     78
Divya      90
dtype: int64


###5: Accessing Series Elements

In [2]:
import numpy as np
import pandas as pd
ml_grades = pd.Series([92, 85, 78, 95], index=['Aarav', 'Bhavna', 'Chetan', 'Divya'])
print(ml_grades['Bhavna'])
print(ml_grades[0:2])

85
Aarav     92
Bhavna    85
dtype: int64

**6. Series Operation**

In [3]:
bonus_grades = ml_grades + 5
print(bonus_grades)

Aarav      97
Bhavna     90
Chetan     83
Divya     100
dtype: int64